<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dummy">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dummy urdf file -->
    <xacro:include filename="$(find dummyxiaox319_description)/urdf/mydummy.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dummy.ros2_control.xacro" />


    <xacro:dummy_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
